<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body ng-app="todoApp" class="ng-cloak">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Basic Todo Application Using Spring Angular</h5>
        <nav class="my-2 my-md-0 mr-md-3" ng-if="loginDetails.isLoggedIn">
            <a class="p-2 text-dark" ui-sref="admin-todos" ng-if="hasAuthority('ADMIN')">Users' Todos</a>
            <a class="p-2 text-dark" ui-sref="todos">My Todos</a>
            <a class="p-2 text-dark" ui-sref="about">About</a>
        </nav>
        <a class="btn btn-outline-primary" ng-if="loginDetails.isLoggedIn" ng-click="logout()">Logout</a>
        <a class="btn btn-outline-primary" ui-sref="login" ng-if="!loginDetails.isLoggedIn">Sign in</a>
    </div>

    <div class="container">
        <div ui-view></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js'></script>
    <script type="text/javascript" src='https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.js'></script>
    <script src="script/app.js"></script>
    <script src="script/appService.js"></script>
    <script src="script/loginController.js"></script>
    <script src="script/todoController.js"></script>
    <script src="script/adminTodoController.js"></script>
</body>

</html>